html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background: linear-gradient(45deg, #4F4F84, #21213C);
    color: white;
    padding: 0;
    margin: 0;
}

.file {
    opacity: 0;
}

input {
    padding: 0 10px;
    border-radius: 6px;
    border-width: 1px;
    border-color: #4D6AFF;
    border-style: solid;
    background-color: transparent;
    font-size: 14px;
    color: white;
}

textarea {
    height: 100px;
    padding: 5px 10px;
    border-radius: 6px;
    border-width: 1px;
    border-color: #4D6AFF;
    border-style: solid;
    background-color: transparent;
    font-size: 14px;
    color: white;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-width: 0;
    background-color: #4560E6;
    color: white;
    cursor: pointer;
}

.edt_container {
    height: 40px;
    width: 100%;
}

.edt_container button {
    height: 100%;
    width: 100%;
}

.edt_container input {
    height: 100%;
    width: 100%;
}

.input_error {
    border-color: #FF4D90;
}

.edt_container textarea {
    width: 100%;
    height: 100%;
}

.edt_container .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.input_title {
    padding: 5px 0;
}

.step {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
